<!doctype html>
<html lang=en-us>
<meta charset=utf-8>
<title>Slides - Screen</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<link media="all" rel="stylesheet" href="{{.baseurl}}/screen.css" />
<body>
<div id="container"></div>
<script type="text/javascript" src="{{.baseurl}}/jquery.js"></script>
<script type="text/javascript" src="{{.baseurl}}/common.js"></script>
<script type="text/javascript" src="{{.baseurl}}/screen.js"></script>
</body>
